.hero-container {
    text-align: center;
    padding: 50px;
    background: url("") center/cover no-repeat;
  }
  
  .hero-title {
    color: #0a0000; /* Professional dark blue-gray */
    font-size: 2.5rem; /* Large and readable */
    font-weight: bold;
    text-align: center;
}

.hero-text {
    color: #000000; /* Slightly lighter gray-blue */
    font-size: 1.2rem; /* Professional readable size */
    text-align: center;
    margin-top: 10px;
}

  
  .hero-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #070458;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .hero-button:hover {
    background-color: #1953e6;
  }
  .options-container {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  
  .option-button {
    padding: 12px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .option-button:hover {
    background-color: #0056b3;
  }
  